@use '_mixins' as *;

@media (min-width: 550px) {

    .container-fluid {
        width: 100%; }
    .desaparecer{
        display: none;
    }
    .aparecer{
        display: block;
    }
    @include generar-columnas("sm");
}
/*
    cuando es max-width es hasta esa regla includo el ancho
    y cuando es min-with es el minimo para aplicar esta regla

*/
// solo actio a partir de 750px
@media (min-width: 750px) {
    .container {
        width: 80%; 
    }
    .container-fluid {
        width: 100%; 
    }
    .column,
    .columns {
        margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
        margin-left: 0; 
    }
    // llamo a la macro para que me genere el contenido del mismo    
    @include generar-columnas("lg");

    .one-third-lg.column               { width: 30.6666666667%; }
    .two-thirds-lg.column              { width: 65.3333333333%; }

    .one-half-lg.column                { width: 48%; }


    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

    .desaparecer-lg{
        display: none;
    }

    .aparecer-lg{
        display: block;
    }
}
