footer.text-body-secondary.py-5
    div.container
        p.float-end.mb-1
        a(href='#') Back to top
        p.mb-1
        | Album example is &copy; Bootstrap, but please download and customize
        | it for yourself!
        p.mb-0
            | New to Bootstrap? 
            a(href='/') Visit the homepage
            |  or read our
            a(href='../getting-started/introduction') getting started guide
            | .
script.astro-vvvwv3sm(src='../assets/dist/js/bootstrap.bundle.min.js')
