section.py-5.text-center.container
    div.row.py-lg-5
        div.col-lg-6.col-md-8.mx-auto
        h1.fw-light Album example
        p.lead.text-body-secondary
            | Something short and leading about the collection below&mdash;its
            | contents, the creator, etc. Make it short and sweet, but not too
            | short so folks don&rsquo;t simply skip over it entirely.
        p
            a.btn.btn-primary.my-2(href='#') Main call to action
            a.btn.btn-secondary.my-2(href='#') Secondary action
div.b-example-divider