doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Album example &middot; Bootstrap v5.3
        link(rel='canonical' href='https://getbootstrap.com/docs/5.3/examples/album/')
        script(src='../JS/bootstrap.js')
        link(href='../CSS/bootstrap.css' rel='stylesheet')
        link(href='../CSS/listGroup.css' rel='stylesheet')
        link(rel='stylesheet' href='../CSS/estilosAlbum.css')
        meta(name='theme-color' content='#712cf9')
    body
        main 
            include boton 
            include navbar 
            include headerAlbum 
            include card 
            include listas 
            include footer 

