div.b-example-divider
div.d-flex.flex-column.flex-md-row.p-4.gap-4.py-md-5.align-items-center.justify-content-center
    div.list-group
        label.list-group-item.d-flex.gap-2
            input.form-check-input.flex-shrink-0(type='checkbox' value='' checked='')
            span First checkbox
                small.d-block.text-body-secondary With support text underneath to add more detail
        label.list-group-item.d-flex.gap-2
            input.form-check-input.flex-shrink-0(type='checkbox' value='')
            span Second checkbox
                small.d-block.text-body-secondary Some other text goes here
        label.list-group-item.d-flex.gap-2
            input.form-check-input.flex-shrink-0(type='checkbox' value='')
            span Third checkbox
                small.d-block.text-body-secondary And we end with another snippet of text
    div.list-group
        label.list-group-item.d-flex.gap-2
            input.form-check-input.flex-shrink-0(type='radio' name='listGroupRadios' value='' checked='')#listGroupRadios1
            span
                First radio
                small.d-block.text-body-secondary With support text underneath to add more detail
        label.list-group-item.d-flex.gap-2
            input.form-check-input.flex-shrink-0(type='radio' name='listGroupRadios' value='')#listGroupRadios2
            span  Second radio
                small.d-block.text-body-secondary Some other text goes here
        label.list-group-item.d-flex.gap-2
            input#listGroupRadios3.form-check-input.flex-shrink-0(type='radio' name='listGroupRadios' value='')
            span Third radio
                small.d-block.text-body-secondary And we end with another snippet of text
div.b-example-divider
