<!DOCTYPE html>
<html lang="en">
<head>
    include cabecera
</head>
<body class="tema claro">
    button CLARO 
    button OSCURO
    .container 
        .row 
        .twelve.columns
            header
            h1 El badulaque
        .row 
        .twelve.columns
            ul.nav_vertical
            li: a(href="/") Home
            li: a(href="/about") About
            li: a(href="/contact") Contact
        .row
            .ten.columns    
                button.btn-color1  prueba clase boton
                button.btn-color2  prueba clase boton
                button.btn-color3  prueba clase boton
                button.btn-color4  prueba clase boton
                button.btn-color5  prueba clase boton
        .row 
        .twelve.columns
            h1 Main Content
        .row 
        .twelve.columns
            footer 
            p &copy; 2024 El badulaque
        .row 
            h2  GALERIA ACTIVIDAD 7 CON FLEX
            .galeria.cols-10
                img(src="../img/lucky.jpeg", alt="")    
                img(src="../img/prueba2.png", alt="") 
                img(src="../img/prueba2.png", alt="") 
                img(src="../img/prueba2.png", alt="") 
                img(src="../img/prueba2.png", alt="") 
                img(src="../img/prueba2.png", alt="") 
                img(src="../img/prueba2.png", alt="") 
                img(src="../img/prueba2.png", alt="") 

        .row 
            .six.columns
                .acordeon
                    div
                        h3 Acordeon
                            span + 
                        article Este texto esta oculto hasta que haces click
                        h3 Acordeon
                            span + 
                        article Este texto esta oculto hasta que haces click

    <script type="text/javascript" src="../js/cambioTema.js"></script>
</body>
    
</html>