
aside 
    table 
        thead 
            tr
                th Number Macs 
                th Clase
            tr 
                td 
                    span 88:88:88:88
                td 
                    span DAW2
                td  
                    input(type="checkbox")
                    button DELETE 
                    button EDIT 
            tr 
                td 
                    span 88:88:88:88
                td 
                    span DAW2
                td  
                    input(type="checkbox")
                    button DELETE 
                    button EDIT 
            tr 
                td 
                    span 88:88:88:88
                    label(for="")
                        
                td 
                    span DAW2
                                
                td  
                    input(type="checkbox")
                    button DELETE 
                    button EDIT 
    div
        button SEND 