div.col-4 
    div.col-10
        img.rounded.mx-auto.d-block(src="/NES_controller.jpeg", alt="")
    div.col-2.alig-self-end
        div(style="float:left width:100%")  
            i.bi.bi-star
        div(style="float:left width:100%") 
            i.bi.bi-star
        div(style="float:left width:100%") 
            i.bi.bi-star
div.col-12
    p Nombre
div.col-12
    p Descripcion
    

