
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px
);

/*GENERADOR BASE*/
@mixin generar-columnas($var:""){
    @for $i from 1 through 12{
        .col#{$var}-#{$i}{
            flex:0 0 calc(100%/12 * #{$i});
            max-width: calc(100%/12 *#{$i});
        }
    }
}
@include generar-columnas();//para movil xs por defecto como en boostrap primero

/*movil,table y escritorio*/

@each $nombre,$valor in $breakpoints{
    @media(min-width:#{$valor}){
        @include generar-columnas("-#{$nombre}");
    }
}

/*
    flex: 0 0 calc(100% / 12 * X);
    Esa propiedad equivale a escribir:
    flex-grow: 0; QUE NO CREZCA AUNQUE HAYA ESPACIO
    flex-shrink: 0; QUE NO SE HAGA MAS PEQUEÑO AUQNUE HAYA ESPACIO
    flex-basis: calc(100% / 12 * X); TAMAÑO QUE VA OCUPAR
    
        Extra pequeño,Ninguno,<576px,Móviles (Vertical/Horizontal)
        Pequeño,sm,≥576px,Móviles (Horizontal) y algunas Phablets
        Medio,md,≥768px,Tabletas (Vertical/Horizontal)
        Grande,lg,≥992px,Portátiles y Escritorio pequeño
        Extra grande,xl,≥1200px,Escritorio estándar
        Extra extra grande,xxl,≥1400px,Escritorio grande y Monitores 4K

        


*/

//Opcional: utilidades para offset (ejemplo para .offset-md-by-3) 

    //@for $i from 1 through 11 {
    //.offset-#{$i} { margin-left: calc(100% / 12 * #{$i}); }
    //@each $name, $px in $breakpoints {
        //@media (min-width: #{$px}) {
        //.offset-#{$name}-by-#{$i} { margin-left: calc(100% / 12 * #{$i}); }
        //}
    //}
    //} 

  //function toggleMenu() { cojo el id del nav
    //document.getElementById('main-nav').classList.toggle('open');
  //}

    nav {
    background: #9b4dca;
    padding: 1rem;

    .menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-links {
        display: none;   // en móvil NO se muestra
        flex-direction: column;
        gap: 1rem;

        a { color: white; text-decoration: none; }
    }

    .hamburger {
        display: flex;   // en móvil SÍ se muestra
        flex-direction: column;
        gap: 4px;
        cursor: pointer;

        span {
        display: block;
        width: 25px;
        height: 3px;
        background: white;
        }
    }

    // Cuando apartas .open
    &.open .menu-links {
        display: flex;
    }
    }


/* -----------------------------------------
    MENÚ EN TABLET Y ESCRITORIO
    USANDO TU MISMO MAPA DE BREAKPOINTS
    (md = 768px → tablet)
------------------------------------------ */
    @media (min-width: map-get($breakpoints, md)) {
    nav {
        .menu-links {
        display: flex;           // se muestra horizontal
        flex-direction: row;
        }

        .hamburger {
        display: none;           // desaparece
        }
    }
    }
