@use '_acordeon';
@use '_temas';
@use '_micss';
@use '_normalize';
@use '_skeleton';
@use '_variables';
@use 'navBar';
@use '_tencol';
@use '_botones';
@use '_galeria';



@include botones.generarBotones();

