extends layout.pug 
block content 
    h1.title  Nuestros Amigos
    .twelve.columns.card
        .row 
            .eight.columns  
                div.cliente
                    img(src="../Imagenes/Amigo1.png", alt="Foto del usuario X")
            .four.columns
                .text 
                    h3 NameUser 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eius voluptate ad reprehenderit explicabo dicta rerum esse laborum commodi nostrum perspiciatis dignissimos, sed debitis rem similique, fuga excepturi.
                        