.twelve.columns.card
    .row 
        .twelve.columns.user
            h3 Name user 
    .row 
        .eight.columns  
            div
                img(src="", alt="Foto del usuario X")
        .four.columns
            div 
                p Descripcion foto