footer.row
    .four.columns
        div
            h5 Siguenos en nuestras redes 
            p icono 1
            p icono 2
    .four.columns
        div
            h5 Chuchelandia🍭
            p Ubicacion 
            p Contacto 
            P gmail
    .four.columns
        h5 About Chuchelandia
