extends layout.pug 
block content 
    .row 
        .twelve.columns
            div.portada
                h1 Welcome !!
    .row 
        .twelve.columns
            div.texto
                h3 Puedes encontrarnos
                <i class="fa-solid fa-location-dot"></i>
                p Av/Castellanos 16 Valdepeñas, Ciudad Real
    .row 
        .twelve.columns
            .texto 
                h2 Desde los cumpleaños hasta un 'porque sí'. 
                h2 El detalle más dulce, diseñado por ti.