div.row.nav
    .five.columns
        div
            a(href="home.html").button-primary Chuchelandia🍭
    .two.columns
        div
    .five.columns
        a(href="Amigos.html").button-primary Amigos
        a(href="portadaEncargos.html").button-primary Encargos
        a(href="peticiones.html").button-primary Peticiones