div.row.nav
    .five.columns
        div
            a.button-primary Chuchelandia🍭
    .two.columns
        div
            img(src="", alt="")
    .five.columns
        a.button-primary Amigos
        a.button-primary Encargos
        a.button-primary Peticiones