extends layout.pug 
block content
    .row    
        .two.columns
            div.box-filter 
                div  
                    h3 Packs 
                div 
                    div 
                        h5 Busca por packs
        .ten.columns
            .row
                .four.columns
                    .card-candy     
                        div.image-card     
                            img(src="../Imagenes/cardPakcs.png", alt="")
                        div 
                            div 
                                p Pack 
                                p Descripcion
                            div.add-btn     
                                button Add
                .four.columns
                    .card-candy     
                        div.image-card     
                            img(src="../Imagenes/cardPakcs.png", alt="")
                        div 
                            div 
                                p Pack 
                                p Descripcion
                            div.add-btn     
                                button Add
                .four.columns
                    .card-candy     
                        div.image-card     
                            img(src="../Imagenes/cardPakcs.png", alt="")
                        div 
                            div 
                                p Pack 
                                p Descripcion
                            div.add-btn     
                                button Add
