extends layout.pug 
block content
    .row    
        .two.columns
            div.box-filter 
                div  
                    h3 Crea tus packs 
                div 
                    div 
                        h5 Chuches
        .ten.columns
            .row
                .four.columns
                    .card-candy     
                        div.image-card     
                            img(src="../Imagenes/cardPakcs.png", alt="")
                        div 
                            div 
                                p Nombre 
                                p Marca 
                            div.buttons-cantidad
                                button -
                                p 0
                                button +
                            div.add-btn     
                                button Add
                .four.columns
                    .card-candy     
                        div.image-card     
                            img(src="../Imagenes/cardPakcs.png", alt="")
                        div 
                            div 
                                p Nombre 
                                p Marca 
                            div.buttons-cantidad
                                button -
                                p 0
                                button +
                            div.add-btn     
                                button Add
                .four.columns
                    .card-candy     
                        div.image-card     
                            img(src="../Imagenes/cardPakcs.png", alt="")
                        div 
                            div 
                                p Nombre 
                                p Marca 
                            div.buttons-cantidad
                                button -
                                p 0
                                button +
                            div.add-btn     
                                button Add
