extends layout.pug 
block content 
    .row.packs 
        .twelve.columns 
            div.title
                h1 Packs
    .row.packs 
        .six.columns 
            div.cardPack
                div.text-card
                    a(href="")
                    h1 Personaliza tus packs
                    
        .six.columns 
            div.cardPack
                div.text-card
                    a(href="") 
                    h1 Packs Predefinidos