extends layout.pug 
block content 
    .row.packs 
        .twelve.columns 
            div.title
                h1 Packs
    .row.packs 
        .six.columns 
            a.cardPack(href="packsPersonalizados.html")
                .text-card
                    h1.text-card Packs Personalizados
                    
        .six.columns 
            div.cardPack
                div.text-card
                    a(href="packs.html")
                    h1 Packs Chuchelandia