extends layout.pug 
block content 
    .row.container.mt-4
        .col-12.col-md-8 
            <img src="../img/lucky.jpeg" class="img-fluid" alt="...">
        .col-12.col-md-4
            <h1>Product name</h1>
            <span mt-8>120.99€</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eligendi consequatur dolore tempore dignissimos, in voluptas, quo eveniet nostrum voluptate vel eos autem. Perferendis reiciendis cupiditate, quaerat illum nulla molestiae?
            Dignissimos natus et provident ducimus dolorem porro, non similique doloribus aliquid a ipsa dolorum! Nostrum incidunt, error eveniet quibusdam in ratione eaque cum nisi tempora, sint quasi rem aliquid quae?
            Fugit minus tempore cupiditate delectus id deserunt ullam nisi, voluptatibus quam modi cumque saepe reiciendis? Dicta praesentium fugit perspiciatis provident hic deleniti quae voluptate quos harum consectetur! Doloremque, accusantium voluptate.!</p>
    .row.container.mt-4.text-center
        .col-12.col-md-2 
            <img src="../img/lucky.jpeg" class="img-fluid" alt="...">
        .col-12.col-md-2 
            <img src="../img/lucky.jpeg" class="img-fluid" alt="...">
        .col-12.col-md-2 
            <img src="../img/lucky.jpeg" class="img-fluid" alt="...">
        .col-12.col-md-2 
            <img src="../img/lucky.jpeg" class="img-fluid" alt="...">
        .col-12.col-md-4.d-grid.gap-2.col-6.mx-auto
            <button type="button" class="btn btn-primary mt-4">Primary</button>
