extends homeItinerario.pug 
block content 
    .container.my-4
    .row
        .col-12.col-lg-8.offset-lg-2
            .row.g-4.mb-4 
                .col-12.col-md-6
                    .card.shadow-sm.h-100
                        .row.g-0
                            .col-md-4
                                .ratio.ratio-1x1.bg-secondary.rounded-start
                                    img.img-fluid.rounded-start(src='https://via.placeholder.com/300?text=Punto+1', alt='Imagen del punto de interés')
                            .col-md-8
                                .card-body
                                    h5.card-title Nombre 
                                    p.card-text Descripcion
                                    p.card-text
                                        small.text-body-secondary Ubicación: Ciudad, País
                                    a.btn.btn-sm.btn-outline-info(href='#') Ver más
                .col-12.col-md-6
                    .card.shadow-sm.h-100
                        .row.g-0
                            .col-md-4
                                .ratio.ratio-1x1.bg-secondary.rounded-start
                                    img.img-fluid.rounded-start(src='https://via.placeholder.com/300?text=Punto+1', alt='Imagen del punto de interés')
                            .col-md-8
                                .card-body
                                    h5.card-title Nombre 
                                    p.card-text Descripcion
                                    p.card-text
                                        small.text-body-secondary Ubicación: Ciudad, País
                                    a.btn.btn-sm.btn-outline-info(href='#') Ver más
            .row.g-4.mb-4
                .col-12.col-md-6
                    .card.shadow-sm.h-100
                        .row.g-0
                            .col-md-4
                                .ratio.ratio-1x1.bg-secondary.rounded-start
                                    img.img-fluid.rounded-start(src='https://via.placeholder.com/300?text=Punto+1', alt='Imagen del punto de interés')
                            .col-md-8
                                .card-body
                                    h5.card-title Nombre 
                                    p.card-text Descripcion
                                    p.card-text
                                        small.text-body-secondary Ubicación: Ciudad, País
                                    a.btn.btn-sm.btn-outline-info(href='#') Ver más
                .col-12.col-md-6
                    .card.shadow-sm.h-100
                        .row.g-0
                            .col-md-4
                                .ratio.ratio-1x1.bg-secondary.rounded-start
                                    img.img-fluid.rounded-start(src='https://via.placeholder.com/300?text=Punto+1', alt='Imagen del punto de interés')
                            .col-md-8
                                .card-body
                                    h5.card-title Nombre 
                                    p.card-text Descripcion
                                    p.card-text
                                        small.text-body-secondary Ubicación: Ciudad, País
                                    a.btn.btn-sm.btn-outline-info(href='#') Ver más
    include navEstrellas.html 

