extends homeItinerario.pug 

block content 
    .row.m-3
        include itinerario_1.pug
        include itinerario_1.pug
        include itinerario_1.pug
    .row.m-3
        include itinerario_1.pug
        include itinerario_1.pug
        include itinerario_1.pug