extends homeItinerario.pug 
block content 
    .row.g-5.m-3
        include itinerario_1.pug
        include itinerario_1.pug
        include itinerario_1.pug
        include itinerario_1.pug
        include itinerario_1.pug
        include itinerario_1.pug