.card{
    background-color: antiquewhite;
    border-radius: 2rem;
    width: 100px;
    padding: 1rem;
    border: 0.5rem solid grey ;
    margin: 2rem;
    
}
.user{
    text-align:right;
    padding: 1rem;
    
}
.text{
    text-align:center;
    padding: 1rem;

}
.title{
    text-align: center;
    padding: 3rem;
}

.cliente{
    width: 100%;
    padding: 3rem;
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
}