.box-filter{
    width: 100%;
    margin: 5rem;
    text-align: center;
    box-shadow: 1px 1px 8px 1px #b8b8b8;
    border-radius: 2rem;
}
.card-candy{
    width: 100%;
    padding: 1rem;
    margin: 5rem;
    box-shadow: 1px 1px 8px 1px #b8b8b8;
    border-radius: 2rem;
    text-align: center;
}
.card-candy p{
    margin: 0.3rem 0;
    text-align: center;
}
.image-card {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttons-cantidad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.buttons-cantidad button{
    border: none;
    background-color: #c3f5f7;
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.buttons-cantidad button:hover{
    background-color:#87bbbd ;
}

.add-btn {
    background-color:#ffb347;
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    margin-top: 0.7rem;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.add-btn:hover {
    background-color: hsl(32, 100%, 59%);
}