.packs{
    width:100%;
    padding: 1rem;
    text-align: center;
}
.title{
    text-align: center;
}
.cardPack{
    width: 100%;
    
    box-shadow: 2px 2px 8px 1px #888888;
    border-radius: 2rem;
    padding-bottom: 100%;
    height: 0;
    transition: transform 0.3s ease;
    text-align: center;

}
.cardPack:hover{
    transform: scale(1.05);
}

.text-card{

    text-align: center;

}